.bx--header {
  background: #1a2023 !important;
  border-width: 0 0 1px 0 !important;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.12) !important;
  height: 56px !important;
}

.bx--header~.bx--side-nav {
  top: 56px !important;
}

.header-logo-wrapper img {
  height: 26px !important;
}

.bx--header~.bx--content {
  margin-top: 56px !important;
}

.bx--search-input {
  background: rgba(255, 255, 255, .12) !important;
  border-radius: 5px !important;
  border: none !important;
  font-size: 16px !important;
}

code[class*='language-'],
pre[class*='language-'] {
  max-height: 400px !important;
}

.bx--header__action {
  height: 55px !important;
  outline: none !important;
}

.bx--header-panel {
  border-left: 1px solid rgba(0, 0, 0, .12) !important;
  top: 56px !important;
}

.bx--switcher__item-link:hover:not(.bx--switcher__item-link--selected) {
  background: #1a2023 !important;
}

.search-bar-wrapper {
  width: 20rem !important;
}