.bx--header {
  background: #fff !important;
  border-width: 0 0 1px 0 !important;
  border-style: solid !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  height: 56px !important;
}

.bx--header~.bx--side-nav {
  top: 56px !important;
}

.header-logo {
  height: 26px !important;
}

.bx--header~.bx--content {
  margin-top: 56px !important;
}

.bx--search-input {
  background: #f5f5f5 !important;
  border-radius: 5px !important;
  border: none !important;
  font-size: 16px !important;
  height: 40px !important;
}

code[class*='language-'],
pre[class*='language-'] {
  max-height: 400px !important;
}

.bx--header__action>svg {
  fill: #000 !important;
}

.bx--header__action {
  height: 55px !important;
}

.bx--header__action:hover {
  background-color: #f3f5f6 !important;
}

.bx--header-panel {
  background: #f3f5f6 !important;
  border-left: 1px solid rgba(0, 0, 0, .12) !important;
  top: 56px !important;
}

.bx--switcher__item-link:hover:not(.bx--switcher__item-link--selected) {
  background: rgba(0,0,0,.12) !important;
}

.bx--switcher__item-link .container {
  color: #757575 !important;
}

.search-bar-wrapper {
  width: 20rem !important;
}